*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root,
body,
#__next {
  width: 100%;
  height: 100%;

  position: relative;
}

:root {
  --scroll-color1: rgba(255, 255, 255, 0.219);
  --scroll-color2: rgba(255, 255, 255, 0.514);
  --scroll-color3: rgba(179, 122, 122, 0.438);

  $w_bp1: 200px;
  $w_bp2: 600px;
  $w_bp3: 1200px;
  $w_bp4: 1920px;

  font-size: 16px;

  // border: 3px solid red;

  @media (min-width: 0px) and (max-width: $w_bp1) {
    font-size: 16px;
  }

  @media (min-width: $w_bp1) and (max-width: $w_bp2) {
    // font-size: 24px;
  }

  @media (min-width: $w_bp2) and (max-width: $w_bp3) {
    // font-size: 24px;
  }

  @media (min-width: $w_bp3) and (max-width: $w_bp4) {
    // font-size: 16px;
  }

  @media (min-width: $w_bp4) {
    // font-size: 16px;
  }
}

body {
  // border: 3px solid blue;
}

#__next {
  // border: 3px solid gray;

  & > div {
    width: 100%;
    height: 100%;

    position: relative;

    overflow-y: auto;
    overflow-x: auto;
  }
}

// -------

.specialMoodArea {
  &.m1 {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #2c5364,
      #203a43,
      #0f2027
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &.m2 {
    background: #3d7eaa; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffe47a,
      #3d7eaa
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffe47a,
      #3d7eaa
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &.m3 {
    background: #1d976c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #93f9b9,
      #1d976c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #93f9b9,
      #1d976c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &.m4 {
    background: #3ca55c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b5ac49,
      #3ca55c
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b5ac49,
      #3ca55c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &.m5 {
    background: #e65c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f9d423,
      #e65c00
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f9d423,
      #e65c00
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/* scrollbar custom */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color1) var(--scroll-color3);
}

/* Works on Chrome */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e400;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  // border: 5px solid transparent;
  // background-clip: content-box;
  // background-color: rgb(49, 152, 221);
  background-color: var(--scroll-color1);

  &:hover {
    background-color: var(--scroll-color2);
  }
}
