*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root,
body,
#__next {
  width: 100%;
  height: 100%;

  position: relative;
}

:root {
  --scroll-color1: rgb(239, 68, 68);
  --scroll-color2: rgb(202, 37, 37);
  --scroll-color3: rgba(179, 122, 122, 0.438);

  $w_bp1: 200px;
  $w_bp2: 600px;
  $w_bp3: 1200px;
  $w_bp4: 1920px;

  font-size: 16px;

  border: 3px solid red;

  @media (min-width: 0px) and (max-width: $w_bp1) {
    font-size: 16px;
  }

  @media (min-width: $w_bp1) and (max-width: $w_bp2) {
    // font-size: 24px;
  }

  @media (min-width: $w_bp2) and (max-width: $w_bp3) {
    // font-size: 24px;
  }

  @media (min-width: $w_bp3) and (max-width: $w_bp4) {
    // font-size: 16px;
  }

  @media (min-width: $w_bp4) {
    // font-size: 16px;
  }
}

body {
  border: 3px solid blue;
}

#__next {
  border: 3px solid gray;

  & > div {
    width: 100%;
    height: 100%;

    position: relative;

    overflow-y: auto;
    overflow-x: auto;
  }
}




/* scrollbar custom */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color1) var(--scroll-color3);
}

/* Works on Chrome */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #e4e4e467;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  // border: 5px solid transparent;
  // background-clip: content-box;
  // background-color: rgb(49, 152, 221);
  background-color: var(--scroll-color1);

  &:hover {
    background-color: var(--scroll-color2);
  }
}

