.swiper.swiper.swiper.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide.swiper-slide.swiper-slide.swiper-slide {
  border: 2px solid red;
  text-align: center;
  font-size: 18px;
  background: #fff;
  max-width: 300px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}



